*.log
*.reg
./.gitmodules
.gitmodules
/cache/*
/log/*
data/sql
/lib/*.js
/lib/filter/base/*
/lib/form/base/*
/lib/model/om/*
/lib/model/map/*
/plugins/sfGuardPlugin/lib/model/map/*
/plugins/sfGuardPlugin/lib/model/om/*
/plugins/sfGuardPlugin/lib/filter/base/*
/plugins/sfGuardPlugin/lib/form/base/*
/plugins/sfPropelOAuthPlugin/lib/model/base/*
/plugins/sfPropelOAuthPlugin/lib/model/map/*
/plugins/sfPropelOAuthPlugin/lib/model/om/*
/plugins/\.registry/\.channel\.pear\.symfony-project\.com/*
lib/vendor/symfony/test/functional/fixtures/cache/*
web/uploads/*
.buildpath
.project
.settings
*.DS_Store
.idea
/nbproject
/nbproject/private/
