[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = gituser@viddii.com:/var/www/git/framework.git
[submodule "plugins/sfPropelORMPlugin"]
	path = plugins/sfPropelORMPlugin
	url = git://github.com/madesst/sfPropelORMPlugin.git
[submodule "plugins/sfMelodyPlugin"]
	path = plugins/sfMelodyPlugin
	url = git://github.com/madesst/sfMelodyPlugin.git
[submodule "plugins/sfPropelOAuthPlugin"]
	path = plugins/sfPropelOAuthPlugin
	url = git://github.com/madesst/sfPropelOAuthPlugin.git
[submodule "plugins/sfJqueryReloadedPlugin"]
	path = plugins/sfJqueryReloadedPlugin
	url = git://github.com/madesst/sfJqueryReloadedPlugin.git
[submodule "plugins/sfCombinePlugin"]
	path = plugins/sfCombinePlugin
	url = git://github.com/madesst/sfCombinePlugin.git
[submodule "plugins/sfWebBrowserPlugin"]
	path = plugins/sfWebBrowserPlugin
	url = git://github.com/madesst/sfWebBrowserPlugin.git
[submodule "lib/fb"]
	path = lib/fb
	url = git://github.com/madesst/php-sdk.git
[submodule "plugins/sfOauthPropelServerPlugin"]
	path = plugins/sfOauthPropelServerPlugin
	url = https://github.com/lmaxim/cc_oauthplugin
